<div class="flex justify-center items-center">
  <div class="bg-yellow-500 text-white w-5/6 h-32 rounded-lg">
    <div class="text-left ml-5 mt-5">PROGRESS</div>
    <div class="text-left ml-5 mt-1 font-semibold text-xl">
      Nga, Here is your development plan, choose your skill and start the
      training course
    </div>
    <div class="text-left ml-5 mt-2">
      To access your skills, click on each responsibility( if you want to take a
      new one, click on "add")
    </div>
  </div>
</div>
