<div class="flex-grow">
  <div class="flex justify-center items-center flex-col">
    <div class="bg-yellow-500 text-white w-5/6 h-32 rounded-lg">
      <div class="text-left ml-5 mt-5">EXPLORE</div>
      <div class="text-left ml-5 mt-1 font-semibold text-xl">
        Nga, Explore the Academy and develop your skills!
      </div>
    </div>
    <div class="flex gap-4 mt-5">
      <div
        class="border rounded cursor-pointer w-64 h-64 mx-7 flex items-center justify-center"
      >
        Skills
      </div>
      <div
        class="border rounded cursor-pointer w-64 h-64 mx-7 flex items-center justify-center"
      >
        Sports
      </div>
      <div
        class="border rounded cursor-pointer w-64 h-64 mx-7 flex items-center justify-center"
      >
        Referents
      </div>
      <div
        class="border rounded cursor-pointer w-64 h-64 mx-7 flex items-center justify-center"
      >
        Jobs
      </div>
    </div>
  </div>
</div>
