<div class="flex-grow">
  <div class="flex justify-center items-center flex-col">
    <div class="bg-green-500 text-white w-5/6 h-32 rounded-lg">
      <div class="text-left ml-5 mt-5">PROGRESS</div>
      <div class="text-left ml-5 mt-1 font-semibold text-xl">
        Nga, Share your knowledge
      </div>
      <div class="text-left ml-5 mt-2">
        Create training content to share your knowledge!
      </div>
    </div>

    <div class="flex mt-10 text-lg">
      What kind of content do you want to create?
    </div>
    <div class="grid grid-cols-2 gap-4 mt-10">
      <div
        class="border rounded cursor-pointer w-40 h-40 mx-4 flex items-center justify-center flex-col"
      >
        <div
          class="rounded-full bg-blue-500 text-white flex items-center justify-center"
        >
          <mat-icon>home</mat-icon>
        </div>

        <span> Workshops </span>
      </div>
      <div
        class="border rounded cursor-pointer w-40 h-40 mx-4 flex items-center justify-center flex-col"
      >
        <div
          class="rounded-full bg-gray-500 text-white flex items-center justify-center"
        >
          <mat-icon>settings_new</mat-icon>
        </div>
        Traning
      </div>
      <div
        class="border rounded cursor-pointer w-40 h-40 mx-4 flex items-center justify-center flex-col"
      >
        <div
          class="rounded-full bg-blue-500 text-white flex items-center justify-center"
        >
          <mat-icon>home</mat-icon>
        </div>
        Courses
      </div>
      <div
        class="border rounded cursor-pointer w-40 h-40 mx-4 flex items-center justify-center flex-col"
      >
        <div
          class="rounded-full bg-blue-500 text-white flex items-center justify-center"
        >
          <mat-icon>home</mat-icon>
        </div>
        Online training
      </div>
    </div>
  </div>
</div>
